# dependencies
node_modules/
ml-service/__pycache__/
ml-service/modules/__pycache__/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem
.env*.local
.env

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# docker data
grafana_data/
mongodb_data/

# python
*.pyc
__pycache__/
venv/
.venv/

# logs
*.log
*.log.err
.freebuff/
